# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models (use Git LFS for these)
models/torch_cache/
